// colors
$darkgrey: #292F36;
$teal: #4ECDC4;
$offyellow: #FCFAF2;
$offwhite: #f6f9fc;
$notred: #FF6B6B;
$yellow: #FFE66D;
$pink: #BA7BA1;

// fonts
$ibm_plex: 'IBM Plex Sans', sans-serif;
$ibm_plex_condensed: 'IBM Plex Sans Condensed', sans-serif;
$ibm_plex_serif: 'IBM Plex Serif', serif;
$ibm_plex_mono: 'IBM Plex Mono', monospace;
$montserrat: 'Montserrat', sans-serif;

// widths
$ipadpro: 1024px;
$ipad: 768px;
$whoami: 1100px;
$mobile: 550px;
