//
@import "variables";
@import "typography";
@import "pages/sections/header";
@import "pages/sections/footer";
@import "pages/api";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    header {

    }
    .main-container {
        width: 1280px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @media screen and (max-width: 1366px) {
            width: 70%;
        }
        @media screen and (max-width: 1024px) {
            width: 85%;
        }
        @media screen and (max-width: 500px) {
            width: 85%;
        }
        h2 {
            align-self: center;
            font-family: $ibm_plex;
        }
    }
}

