//
@import "variables";
@import "typography";

// colors
$darkgrey: #292F36;
$teal: #4ECDC4;
$offyellow: #FCFAF2;
$offwhite: #f6f9fc;
$notred: #FF6B6B;
$yellow: #FFE66D;

// fonts
$ibm_plex: 'IBM Plex Sans', sans-serif;
$ibm_plex_condensed: 'IBM Plex Sans Condensed', sans-serif;
$ibm_plex_serif: 'IBM Plex Serif', serif;
$ibm_plex_mono: 'IBM Plex Mono', monospace;
$montserrat: 'Montserrat', sans-serif;

// widths
$ipadpro: 1024px;
$ipad: 767px;
$whoami: 1100px;


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .main-container {
        width: 1280px;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        @media screen and (max-width: 1366px) {
            width: 70%;
        }
        @media screen and (max-width: 1024px) {
            width: 85%;
        }
        @media screen and (max-width: 500px) {
            width: 85%;
        }
        h2 {
            align-self: center;
            font-family: $ibm_plex;
        }

        .route-grouping {
            border: 5px solid $darkgrey;
            box-shadow: 15px 15px 0 0 $notred;
            border-radius: 25px;
            margin: 50px 0;
            padding: 40px;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 500px) {
                padding: 30px 20px;
                margin: 30px 0;
            }
            &:nth-child(3) {
                box-shadow: 15px 15px 0 0 $yellow;
            }
            &:nth-child(4) {
                box-shadow: 15px 15px 0 0 $teal;
            }
            &:nth-child(5) {
                box-shadow: 15px 15px 0 0 $pink;
            }
            span {
                background-color: #f4f4f4;
                color: #DC143C;
                padding: 3px 5px;
                margin: 0 3px;
                border-radius: 3px;
                font-family: monospace,monospace;
                font-size: 15px;
            }

            h3 {
                font-family: $ibm_plex;
                margin: 0;
            }

            ul {
                padding: 0 0 0 20px;
                li {
                    font-family: $montserrat;
                    font-size: 18px;
                    margin: 10px 0;
                    ul {
                        li {

                        }
                    }
                }
            }
            p {
                margin: 10px 0;
                &:last-child {
                    margin-bottom: 20px;
                }
                a {
                    font-family: $montserrat;
                    font-size: 18px;
                    margin: 10px 0;
                    text-decoration: underline;
                    color: lighten($darkgrey, 20%);
                    @media screen and (max-width: 768px) {
                        width: 100%;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}

