header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1366px;
    align-items: center;
    @media screen and (max-width: $ipadpro) {
        position: relative;
        &.limit-width {
            margin: 0 5%;
        }
    }
    @media screen and (max-width: $ipad) {
        height: 127px;
    }
    > a {
        width: 30%;
        @media screen and (max-width: $ipadpro) {
            width: 50%;
            margin-left: 5%;
        }
    }
    .hamburger {
        display: none;
        @media screen and (max-width: $ipadpro) {
            display: block;
            outline: none;
            cursor: pointer;
            margin-right: 5%;
            padding: 0;
        }
    }
    .main-menu {
        width: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media screen and (max-width: $ipadpro) {
            position: absolute;
            display: none;
            flex-direction: column;
            top: 110px;
            width: 100%;
            background-color: $offwhite;
            justify-content: center;
            padding: 0;
            &.show {
                display: flex;
            }
        }
        li {
            padding: 10px 20px;
            cursor: pointer;
            list-style-type: none;
            &:hover {
                a {
                    text-shadow: 1px 1px 2px $yellow;
                }
            }
            &:hover {
                position: relative;
                .sub-menu {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    position: absolute;
                    top: 48px;
                    left: 0;
                    background-color: white;
                    border: 5px solid $darkgrey;
                    border-radius: 25px;
                    padding: 10px 20px;
                    width: 200px;
                    box-shadow: 10px 10px 0px 0px $teal;
                    li {
                        padding: 10px;
                        border-bottom: 1px solid lightgrey;
                        width: 175px;
                        &:hover {
                            a {
                                text-shadow: 1px 1px 2px $yellow;
                            }
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        a {
                            font-size: 18px;
                            text-shadow: none;
                        }
                    }
                }
            }
            .sub-menu {
                display: none;
            }
        }
    }
}
